
.fc-event-title {
    font-size: 16px;
    width: 100px;
    text-align: center;

}

.fc-event-main img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -20px
}

.fc-v-event .fc-event-main-frame {
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;


}

.fc-event-title-container {
    flex-grow: unset !important;
}

button.btn-share{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;


}