:root{


}


/* Loading spinner */

.spinner-overlay{
    /* position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: white;
    display: flex; */

    position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #37364540;
  height: 100%;

  display: flex;
  z-index: 99999;

}

/* Floating buttons */

button.btn-floating {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
}

button.btn-floating.add i::before{
    content:\2b
}

button.btn-floating.share i::before{
    content:\f1e0
}