button.btn-new-customer {
    background-color: #28a745;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 3em;
    height: 3em;
    color: white;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 999;

}

